body{
    background-image: url(image/taverne.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.container{
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: calc(50vh - 30vh);
    left: calc(50vw - 30vw);
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.container:hover{
    box-shadow: 0px 0px 10px white;
}
.jeu{
    height: 70%;
    display: flex;
    
}
.jeu__dialogue{
    width: 70%;
    height: 100%;
    overflow-wrap:break-word;
    hyphens: auto;
    display: flex;
    border-right: 1px solid black;
}
.jeu__dialogue__image{
    width: 70%;
    display:flex;
    background-image: radial-gradient(black 80%,rgb(255, 255, 255));
    border-right: 1px solid black;
}
.jeu__dialogue__image--size{
    width: 100%;
    max-height: 100%;
    align-self: center;
}
.jeu__dialogue__etat{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.jeu__dialogue__etat__class{
    height: 50%;
}
.jeu__dialogue__etat__info{
    height: 25%;
}
.jeu__action{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jeu__action__regles{
    padding: 10px;
    font-size: 1.3rem;
}
.jeu__action__bouton{
   width: 100%;
}
.personnage{
    height: 30%;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
}
.personnage__image{
    width: calc(60vh * 0.3);
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
}
.personnage__image__image{
    height: 99%;
}
.personnage__info{
    width: calc(100% - calc(60vh * 0.3) );
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.personnage__info--size{
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
    padding:0 5px;
}
.personnage__info--sizes{
    width: 25%;
    height: 100%;
    padding:0 5px;
}
.personnage__info__image{
    height: 40%;
    width: auto;
}